.container_Body_Forgot {
  min-height: calc(100vh - 5.5rem);
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}

.container_Header_Forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.container_Forgot {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
}

.text_Forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  align-items: center;
  margin-bottom: 1rem;
}

#text_Oups {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 35px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

#text_Oups2 {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1rem;
  font-size: 20px;
  margin-top: 1rem;
  text-align: center;
}

#text_Sign {
  font-size: 20px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.container_Input_Forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  align-items: center;
  gap: 0.5rem;
  width: 80%;
}

.container_Email_Forgot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tex_Forgot {
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

#email_Forgot {
  height: 3.8rem;
  border-radius: 50px 50px 50px 50px;
  background-color: var(--black);
  border: solid 2px rgba(255, 255, 255, 1);
  padding-left: 4.5%;
  color: rgba(255, 255, 255, 1);
  font-family: "poppins";
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.container_Username_Forgot {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4rem;
}

#text_User_Forgot {
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

#username_Forgot {
  height: 3.8rem;
  border-radius: 50px 50px 50px 50px;
  background-color: var(--black);
  border: solid 2px rgba(255, 255, 255, 1);
  padding-left: 4.5%;
  color: rgba(255, 255, 255, 1);
  font-family: "poppins";
  font-size: 15px;
  margin-bottom: 0.5rem;
}

.container_But_Forgot {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup_Button_Forgot {
  width: 100%;
  height: 3.8rem;
  background-color: rgba(221, 167, 79, 1);
  border-radius: 50px 50px 50px 50px;
  font-family: "poppins";
  font-size: 25px;
  border: 1.5px rgba(221, 167, 79, 1);
}

@media only screen and (min-width: 1024px) {
  .container_Body_Forgot {
    min-height: 100vh;
  }
  .container_Email_Forgot {
    width: 30%;
  }

  .container_Username_Forgot {
    width: 30%;
  }

  .container_But_Forgot {
    width: 30%;
  }
}
