.all_Comments {
  width: 100%;
}
.comments_Component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 1.5rem;
  margin-left: 3%;
  width: 87%;
}
.comments_Component p {
  font-size: 18px;
  font-weight: 600;
}

.comment_Section p {
  font-weight: 400;
}

.user_N_Date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment_container {
  margin-top: 1rem;
  width: 94%;
}

.comment_Section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  /* gap: 10px; */
}

.comment_Info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80%;
}
.all_User {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.user {
  margin-top: 0.8rem;
}
.user p {
  font-size: 18px;
  font-weight: 600;
}
.comment_Info .date p {
  font-size: 16px;
  font-style: italic;
}

span .date {
  font-size: 16px;
}

.moreVert_Icon_Container_Comment {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  position: absolute;
  right: 1rem;
}

.moreVert_Icon_Container_Comment.active {
  background-color: var(--grey);
  transform: translateY(0);
  transition: var(--speed) ease;
  border-radius: 10px;
  padding: 1rem;
  z-index: 1000;
}

.moreVert_Icon_Container_Comment.inactive {
  transition: var(--speed) cubic-bezier(0.6, -0.28, 0.735, 0.045);
  height: 0rem;
}

.dropdown_Menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) cubic-bezier(-10, -0.28, 0.735, 0.045);
  z-index: 1;
}

.dropdown_Menu.inactive {
  opacity: 0;
  visibility: hidden;
  transition: var(--speed) cubic-bezier(0.6, -0.28, 0.735, 0.045);
  height: 0rem;
}

.comments_dropdown_Btn {
  border: none;
  background-color: transparent;
  width: 100%;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 0;
}

.dropdown_Menu ul {
  list-style: none;
  padding: 1rem;
  text-align: left;
}

.dropdown_Menu button:hover {
  color: var(--orange);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .comments_Component {
    margin-left: 15%;
    width: 60%;
  }
  .comment_Info {
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;
  }
  .moreVert_Icon_Container_Comment {
    right: 20rem;
  }
  .user_N_Date {
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
  }
}
